@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #FFFFFF;
    --black: #000000;
    --transparent: transparent;

    --neutral0: #F9FAFB; 
    --gray200: #E5E7EB;
    --gray500: #6B7280;
    --gray700: #3A424E;
    --gray900: #191E29;

    --green100: #CAFFD6;
    --green500: #05C151;
    
      @apply box-border;
      @apply p-0;
      @apply m-0;
      @apply bg-white;
  }
}

  @layer components {
    .mobile-ui-hidden {
      @apply max-sm:hidden;
    }
  }

  @layer utilities {

  }
